body {
  margin: 0;
  padding: 0;
  font-family:'Roboto';
  font-size: 18px;  
  background-image: linear-gradient(150deg, rgba(75, 34, 5, 0.4), rgba(5, 10, 46, 0.4)),  url(scenery1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: white;
    
     }

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.profile-container { 
  max-width: 800px;
  margin: 50px auto;
  background: linear-gradient(150deg,rgba(75, 34, 5, 0.4),rgba(5, 10, 46, 0.4));
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #fff;
  width: 90%; 
 position: relative;
}

.profile-image {
  border-radius: 20px;
  width: 300px;
  height: 200px;
   margin: 0 auto 20px;
  border: 3px solid #fff ;
  background: url(target.jpg);
  background-size: cover; 
  background-position: center:
 }

.profile-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.profile-title {
  font-size: 18px;
  margin-bottom: 20px;
}

.message {
  line-height: 1.6;
  padding-left: 5;
  padding-right:5;
  animation: glow 3s infinite alternate;  
  line-height: 1.5;
  display: inline-block;
  letter-spacing: 1.0px;
   
  
 }
.last-sign {
  margin-top: 20px;
  letter-spacing: 1.0px; 
  line-height: 1.5;
}

.last-sign p {
  margin: 5px 0;
  letter-spacing: 1.0px; 
  line-height: 1.5;
}


 @keyframes glow {
      0% {
        text-shadow: none;
      }
      50% {
        text-shadow: 0 0 8px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.8), 0 0 30px rgba(255, 255, 255, 0.8);
      }
      100% {
        text-shadow: none;
      }
    }

.glow-text:hover {
animation: glow 1s infinite;     }


.snow,.snow:after,.snow:before{
 content: "";
 position: absolute;
 top: -650px;
 left: 0;
 right: 0;
 bottom: 0;
 background-image: 
 radial-gradient(4px 4px at 100px 50px, #fff, transparent),
 radial-gradient(6px 6px at 200px 150px, #fff, transparent),
 radial-gradient(3px 3px at 300px 250px, #fff, transparent),
 radial-gradient(4px 4px at 400px 350px, #fff, transparent),
 radial-gradient(6px 6px at 500px 100px, #fff, transparent),
 radial-gradient(3px 3px at 50px 200px, #fff, transparent),
 radial-gradient(4px 4px at 50px 300px, #fff, transparent),
 radial-gradient(6px 6px at 150px 400px, #fff, transparent),
 radial-gradient(3px 3px at 350px 500px, #fff, transparent);
 background-size: 650px 650px;
 animation: snowAnimation 9s linear ;
 animation-iteration-count: infinite;
 height: 100vh;
 width: 100%;

}


.snow:after{
margin-left: -250px;
opacity: 0.5;
filter: blur(2px);
animation-direction: reverse;
animation-duration: 20s;
}
.snow:before{
margin-left: -350px;
opacity: 0.7;
filter: blur(2px);
animation-direction: reverse;
animation-duration: 20s;

}

@keyframes snowAnimation{
from{
   transform: translateY(0);
}
to{
   transform: translateY(650px);
}
}
